<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <form action="#" @submit.prevent="addTodo">
        <input
          type="text"
          placeholder="What needs to be done?"
          v-model="todoTitle"
        />
      </form>
      <ul class="todo-list">
        <li
          class="todo-item"
          v-if="todos.length > 0"
          v-for="todo in todos"
          :key="todo.id"
        >
          <input type="checkbox" v-model="todo.completed" />
          <span class="todo-title" :class="{ completed: todo.completed }"
            >{{todo.title}}</span
          >
          <span class="todo-remove" @click="deleteTodo(todo.id)">
            &times;
          </span>
        </li>
        <li v-else class="todo-item">No todos found</li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
  </body>
</html>
